.header {
  border-bottom: 1px solid #2a363b;
  background-color: rgba(175, 175, 175, 0.3);
  position: relative;
  margin-bottom: 12px;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0;
}
.headerNav {
  width: 68%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 960px) {
  .headerNav {
    width: 68%;
  }
}
@media (max-width: 768px) {
  .headerNav {
    width: 80%;
  }
}
