.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: space-between;
  justify-items: center;
  align-items: stretch;
  width: 68%;
  margin: 0 auto 0;
  padding: 30px 0 0;
  list-style: none;
  padding-bottom: 24px;
}
.listItem {
  box-shadow: 0px 3px 22px -8px rgba(0, 0, 0, 0.58);
  border-radius: 10px;
  transition: all 200ms linear;
  width: 100%;
  height: 173px;
}
.listItem:nth-of-type(20) {
  /* grid-column: 3; */
}

.listItem:hover {
  box-shadow: 6px 6px 22px 2px rgba(0, 0, 0, 0.95);
  transform: scale(1.01);
}
.listImage {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.listLink {
  display: block;
  position: relative;
  height: 100%;
}
.inner {
  background: -webkit-linear-gradient(bottom, #000, hsla(0, 0%, 100%, 0));
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.listTitle {
  font-family: 'Myriad Pro', sans-serif;
  color: rgb(235, 238, 195);
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 1;
}

@media (max-width: 768px) {
  .list{
    width: 80%;
  }
}
