.button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgb(56, 79, 145);
  color: #faebd7;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  transition: 200ms linear all;
  padding: 6px 10px;
}
.button:hover {
  background-color: rgb(83, 97, 138);
}

@media (max-width: 500px) {
  .textBtn {
    display: none;
  }
  .button {
    width: fit-content;
  }
}
