.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  outline: none;
  margin-bottom: 14px;
  background-color: rgb(61, 68, 128);
  border: 4px solid rgb(48, 49, 110);
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: 200ms linear all;
}
.button:hover {
  background-color: rgb(37, 40, 70);
}
.icon {
  font-size: 26px;
  font-weight: 400;
  margin-right: 12px;
}
