.addBtn {
  max-width: 60px;
  height: 60px;
  background-color: #5c83a7;
  background-color: #a75c5c;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: 200ms linear all;
  position: relative;
}
.addBtn:hover {
  background-color: #466685;
}
.sign {
  width: 50% !important;
  height: 24px;
}

.text {
  color: #e8e8fc;
  font-weight: bold;
  max-width: 80px;
  text-align: center;
}

.btnBox {
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .btnBox {
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .addBtn {
    max-width: 140px;
    height: 40px;
    margin: 0 auto 14px;
  }
  .text {
    width: 100%;
    margin: 0 auto;
  }
}
